<footer class="footer">

    <div class="wrapper">

    	<ul class="sitemap">
            <li>
                <a href="/gallery/" class="sitemap-main">Gallery</a>
            </li>
            <li>
                <a href="/explore/" class="sitemap-main">Explore</a>
            </li>
            <li>
                <a href="http://docs.montagestudio.com/" class="sitemap-main">Learn</a>
                <a href="http://docs.montagestudio.com/">Montage Studio</a>
                <a href="http://docs.montagestudio.com/montagejs/">MontageJS</a>
                <a href="http://docs.montagestudio.com/api/AbstractButton.html">API</a>
            </li>
            <li>
                <a href="/engage/" class="sitemap-main">Engage</a>
                <a href="http://montagestudio.com/blog/">Blog</a>
                <a href="http://forum.montagestudio.com/">Forum</a>
                <a href="http://montagestudio.com/blog/events/">Events</a>
                <a href="https://twitter.com/MontageStudio">Twitter</a>
            </li>
            <li>
                <a href="/company/" class="sitemap-main">Company</a>
                <a href="/company/about-us/">About us</a>
                <a href="/company/founders/">Founders</a>
                <a href="/company/investors/">Investors</a>
                <a href="/company/contact-us/">Contact us</a>
            </li>
    	</ul>
        
        <a href="/" class="sitemap-main">
            <img class="footer-logo" src="/images/logo-footer.png" alt="Montage Studio logo">
        </a>

	    <p class="footer-end">2012–2014 Montage Studio</p>
    </div>

</footer>
