<header class="header">
    <div class="header-container">
        <a class="logo {% if page.home %}active{% endif %}" href="/">Home</a>

        <input id="nav-toggle" class="nav-toggle nav-toggle--main" type="checkbox">
        <label class="nav-toggleLabel nav-toggleLabel--main" for="nav-toggle" onclick></label>

        <nav class="nav">
            <a class="nav-item {% if page.gallery %}active{% endif %}" href="/gallery">Gallery</a>
            <a class="nav-item {% if page.explore %}active{% endif %}" href="/explore">Product</a>
            <a class="nav-item {% if page.learn %}active{% endif %}" href="/montagejs">Open Source</a>
            <a class="nav-item {% if page.engage %}active{% endif %}" href="/engage">Community</a>
            <a class="nav-item {% if page.blog %}active{% endif %}" href="/blog">Blog</a>
            <a class="nav-item {% if page.company %}active{% endif %}" href="/company">Company</a>
            <a class="nav-item nav-item--teaser {% if page.teaser %}active{% endif %}" href="/reveal">Join our BETA</a>
        </nav>
        

    </div>
</header>
