<nav class="subnav">
    <a class="subnav-item" href="http://docs.montagestudio.com/montagejs/">Docs</a>
    <a class="subnav-item" href="http://docs.montagestudio.com/montagejs/montagejs-setup.html">Quick Start</a>
    <a class="subnav-item" href="http://docs.montagestudio.com/montagejs/montagejs-examples.html">Examples</a>
    <a class="subnav-item" href="http://docs.montagestudio.com/api/AbstractButton.html">API</a>
    <a class="subnav-item" href="http://docs.montagestudio.com/montagejs/faq.html">Help</a>
</nav>