<div class="teaser-form">
    
    <h2 class="title-xx">RSVP Now for Early Access</h2>
    
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
    <!--  If necessary, please modify the charset parameter to specify the        -->
    <!--  character set of your HTML page.                                        -->
    <!--  ----------------------------------------------------------------------  -->
    
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    
    <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    
        <input type=hidden name="oid" value="00DG0000000jEdg">
        <input type=hidden name="retURL" value="http://montagestudio.com/reveal/thanks.html">
        
        <!--  ----------------------------------------------------------------------  -->
        <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
        <!--  these lines if you wish to test in debug mode.                          -->
        <!--  <input type="hidden" name="debug" value=1>                              -->
        <!--  <input type="hidden" name="debugEmail"                                  -->
        <!--  value="kristie@montagestudio.com">                                      -->
        <!--  ----------------------------------------------------------------------  -->
        
        <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
        
        <label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
        
        <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
        
        <label for="title">Title</label><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>
        
        <label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>
        
        <label for="country">Country (text only)</label><input  id="country" maxlength="40" name="country" size="20" type="text" /><br>
        
        <label for="state">State/Province (text only)</label><input  id="state" maxlength="20" name="state" size="20" type="text" /><br>
        
        <label for="lead_source">Lead Source</label><select  id="lead_source" name="lead_source">
        <option value="">--None--</option><option value="Advertisement">Advertisement</option>
        <option value="Employee Referral">Employee Referral</option>
        <option value="External Referral">External Referral</option>
        <option value="Partner">Partner</option>
        <option value="Public Relations">Public Relations</option>
        <option value="Seminar - Internal">Seminar - Internal</option>
        <option value="Seminar - Partner">Seminar - Partner</option>
        <option value="Trade Show">Trade Show</option>
        <option value="Web">Web</option>
        <option value="Word of mouth">Word of mouth</option>
        <option value="Google+">Google+</option>
        <option value="Other">Other</option>
        <option value="Web - Beta">Web - Beta</option>
        <option value="Web - Contact Us">Web - Contact Us</option>
        </select><br>
        
        <input type="submit" name="submit">
    
    </form>
    
</div>