---

layout: default
title: Spend 30 minutes with an expert
teaser: true

---

<section id="teaser" class="teaser teaser--page">
    <div class="wrapper">


        <div class="cols">
            <div class="col col-1-2">

                <h2 class="teaser-title">Spend 30 minutes with an expert</h2>

                <p><img class="teaser-visual" src="/assets/images/reveal/devices.png" alt="Devices"></p>

                <p class="teaser-copy">You will receive instructions on how to access the Montage Studio beta shortly after you complete this form.</p>

            </div>
            <div class="col col-1-2">

                {% include teaser-form.html %}

                <div class="teaser-social">
                    {% include teaser-social.html %}
                </div>

            </div>
        </div>

    </div>
</section>
