/* Gallery ---------------------------------------------------------------------------------- */

.company {
    padding-top: 420px;
}

.company .wrapper {
    background-color: hsla(0,0%,100%,.85);
    padding: 2em;
}

.company-avatar {
    width: 100%;
    float: left;
    margin: 0 1.5em 1.5em 0;
}

.company-investor {
    margin: 1em 3em 1em 0;
    vertical-align: middle;
}

.company-investor--elevation {
    width: 300px;
}

.company-investor--floodgate {
    width: 200px;
}

.company-logo {
    width: 120px;
    margin: 0 20px 20px 0;
}

@media all and (min-width: 400px) {

    .company-avatar {
        width: 190px;
    }

}



@media all and (max-width: 700px) {

    .company {
        padding-top: 45%;
        background: url(../images/company/bg-small.jpg) no-repeat center top;
        background-size: 100% auto;
    }

}

@media all and (min-width: 701px) {

    .company {
        background: url(../images/company/bg.jpg) no-repeat center -80px;
        background-size: 1200px auto;
    }

}


@media all and (max-width: 920px) {

    .company .subnav {
        position: absolute;
    }

    .company {
        padding-left: 0;
        padding-right: 0;
    }

    .company .wrapper {
        padding: 1.5em;
    }

    .company .founder {
        margin-bottom: 2em;
    }


}
