/* Gallery ---------------------------------------------------------------------------------- */

.company {
    background: url(../images/company/bg.jpg) no-repeat center -80px;
    background-size: 1200px auto;
    padding-top: 420px;
}

.company .wrapper {
    background-color: hsla(0,0%,100%,.85);
    padding: 2em;
}

.company .intro,
.company .intro .cols > .col {
    font-size: 16px;
}

.company .intro .title-x {
    text-align: center;
    margin: 0 0 0.3em 0;
}

.company .content {
    margin: 0 8%;
}

.company .content,
.company .content .cols > .col {
    font-size: 14px;
}

.company .content-section {
    margin-bottom: 4em;
}

.company-avatar {
    width: 140px;
    border-radius: 10px;
}

.company-investor {
    margin: 1em 3em 1em 0;
    vertical-align: middle;
}

.company-investor--elevation {
    width: 300px;
}

.company-investor--floodgate {
    width: 200px;
}



@media all and (max-width: 920px) {
    
    .company {
        padding-left: 0;
        padding-right: 0;
        background-size: 100% auto;
        background-position: center top;
        padding-top: 45%;
    }
    
    .company .wrapper {
        padding: 1.5em;
    }
    
    .company .content {
        margin: 0;
    }

    .company .founder {
        margin-bottom: 2em;
    }
    
    
}
