/* These Styles are for the header and footer.
 * Note: They will also be used on subdomains, like engage, docs etc.
 */


/* Header ----------------------------------------- */

.header {
    padding: 0px 40px;
    text-align: left;
    background-color: #333; /* should make it scroll faster */
}

.header-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.header .logo {
    display: block;
    position: absolute;
    top: 10px;
    height: 40px;
    background-image: url(http://staging.montagestudio.com/assets/images/logo-header.png);
    color: transparent;
    text-shadow: none;
    width: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    -webkit-transition: -webkit-transform .2s;
       -moz-transition:    -moz-transform .2s;
        -ms-transition:     -ms-transform .2s;
         -o-transition:      -o-transform .2s;
            transition:         transform .2s;
}

.header .logo:hover {
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
        -ms-transition-duration: .1s;
         -o-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transform: translateY(-4px);
       -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
         -o-transform: translateY(-4px);
            transform: translateY(-4px);
}

.header .logo:active {
    -webkit-transition-duration: .04s;
       -moz-transition-duration: .04s;
        -ms-transition-duration: .04s;
         -o-transition-duration: .04s;
            transition-duration: .04s;
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
}


/* Nav ----------------------------------------- */

.nav {
    display: block;
    margin: 0 174px 0 150px; /* These magic numbers depend on logo and teaser widths */
    font-size: 0; /* Removes inline-block gap */
    text-align: center;
}

.nav-item {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    color: hsla(0, 0%, 70%, 1);
}

.nav-item:hover {
    color: hsl(0,0%,100%);
    background-color: hsla(0, 100%, 100%, 0.06);
}

.nav-item:active,
.nav-item.active {
    color: #fff;
    background-color: hsla(0,0%,0%,0.2);
}



/* Nav Teaser ----------------------------------------- */

.nav-item--teaser {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: hsl(204, 100%, 50%);
}

.nav-item--teaser:hover {
    background-color: hsl(204, 100%, 56%);
}

.nav-item--teaser:active,
.nav-item--teaser.active {
    background-color: hsl(204, 100%, 30%);
}




/* Nav toggle ----------------------------------------- */

.nav-toggleLabel {
    cursor: pointer;
    width: 100%;
    height: 48px;
    padding: 0 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 48px;
    font-size: 1.2em;
    color: #fff;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
    background:  url(http://staging.montagestudio.com/assets/images/toggle-icons.svg) no-repeat right top;
    background-size: 48px auto;
}

.nav-toggleLabel:active {
    background-color: hsl(0, 0%, 16%);
}

.nav-toggle:checked + .nav-toggleLabel {
    color: hsl(0,0%,66%);
    background-position: right -48px;
}

.nav-toggle:checked + .nav-toggleLabel:before { content: "Close"; }


/* Main nav */

.nav-toggle--main:checked ~ .nav {
    display: block;
}

.nav-toggleLabel--main:before { content: "Menu"; }


.nav-toggle,
.nav-toggleLabel {
    display: none;
}


/* Main nav */

.nav-toggle--main:checked ~ .nav {
    display: block;
}

.nav-toggleLabel--main:before { content: "Menu"; }







/* Footer ---------------------------------------------------------------------------------- */

.footer {
    padding: 20px;
    font-size: 14px;
    text-align: center;
}

@media all and (min-width: 801px) {
    .footer {
        padding: 40px;
    }
}

.footer .wrapper {
    margin: 0 auto;
    max-width: 960px;
}


/* Sitemap */

.sitemap {
    list-style: none;
    margin: 0 0 0 170px;
    padding: 0;
    font-size: 0.9em;
}

.sitemap li {
    display: inline-block;
    margin: 0 2em;
    vertical-align: top;
    text-align: left;
}

.sitemap a {
    display: block;
    color: hsla(0, 100%, 100%, 0.6);
}

.sitemap a:hover {
    color: hsla(0, 100%, 100%, 1);
}

.sitemap a:active {
    color: hsla(0, 100%, 100%, 0.6);
}

.sitemap .sitemap-main {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    color: #fff;
}

.sitemap .sitemap-main:hover {
    color: hsla(0, 100%, 100%, 0.6);
}

.sitemap .sitemap-main:active {
    color: hsla(0, 100%, 100%, 0.4);
}

.footer-logo {
    position: absolute;
    width: 170px;
    left: 0;
    top: 5px;
}

.footer-end {
    padding-top: 2em;
    color: hsla(0, 100%, 100%, 0.4);
    font-size: .8em;
}

@media all and (max-width: 920px) {

    .footer-logo {
        display: block;
        position: relative;
        left: auto;
        top: auto;
        margin: 2em auto 0em auto;
    }

    .sitemap {
        margin: 0;
    }

    .sitemap li {
        margin: 0 1em;
    }
}

@media all and (min-width: 701px) {

    .footer {
        background: #181724 url(http://staging.montagestudio.com/assets/images/bg-footer.jpg) no-repeat top center;
        background-size: 1100px auto;
    }

}

@media all and (max-width: 700px) {

    .footer {
        background: #181724 url(http://staging.montagestudio.com/assets/images/bg-footer--vertical.jpg) no-repeat top center;
        background-size: 100% auto;
    }

    .sitemap {
        font-size: 1.2em;
        line-height: 1.6;
    }

    .sitemap li {
        display: block;
        margin: 1.5em 0;
    }
}


/* Responsive Header ----------------------------------------- */

@media all and (max-width: 920px) { /* width needs to be manually adjusted if nav changes */

    body > section:first-of-type {
        margin-top: 0px;
    }

    section {
        padding: 20px;
    }

    .header {
        position: relative;
        padding: 0.4em 0;
        font-size: 1.5em;
    }

    .header .logo {

        position: absolute;
        top: 5px;
        left: 15px;
}

    .nav-toggleLabel--main {
        display: block;
    }

    .nav {
        display: none;
        margin: 0;
        padding: 10px 0 0 0;
        text-align: center;
    }
    .nav-item {
        padding: 10px;
    }

    .nav-item--teaser {
        position: relative;
    }

}
