/* These Styles only get used on the index page only */


/* Teaser ------------------------------------------- */

.hero {
    background: hsl(0, 0%, 13%) url(../images/bg-dark.jpg) no-repeat top center;
    background-size: 1600px auto;
    border-top: none;
    font-weight: 300;
}

.hero .wrapper {
    position: relative;
    color: #fff;
    text-shadow: none;
    line-height: 1.5;
}

.hero-title {
    font-size: 3em;
    line-height: 1.2;
    font-weight: 300;
}

.hero-description {
    margin-top: 0;
    font-size: 1.4em;
}


/* Why ------------------------------------------- */

.why {
    background-color: #F6F5F4;
}

.why img {
    max-width: 100%;
}


/* Responsive ----------------------------------------- */

@media all and (min-width: 881px) {

    .hero .wrapper {
        text-align: center;
    }

    .hero-title {
    }

    .hero-description {
        display: inline-block;
        width: 50%;

        text-align: left;
}

}
