/* These Styles only get used on the index page only */


/* Hero ------------------------------------------- */

.hero {
    background: hsl(0, 0%, 13%) url(../images/bg-dark.jpg) no-repeat center center;
    background-size: auto 100%;
    border-top: none;
    font-weight: 300;
}

.hero .wrapper {
    position: relative;
    color: #fff;
    text-shadow: none;
    line-height: 1.5;
}

.hero-title {
    margin-top: 0;
    font-size: 2.4em;
    line-height: 1.2;
    font-weight: 300;
}

.hero-description {
    margin-top: 0;
    font-size: 16px;
}


/* Product ------------------------------------------- */

.home-family,
.home-desktop,
.home-tablet,
.home-phone {
    display: none;
}

.home-content {
    position: relative;
    margin: 2em auto;
    max-width: 500px;
}

.home-list {
    list-style: none;
    padding: 0;
}

.home-content .button--action {
    margin: 0.6em 0;
    font-size: 20px;
    line-height: 1; 
    padding: 1em 1.2em;
    border-radius: 0.4em;
}



/* Responsive ----------------------------------------- */

@media all and (min-width: 700px) {
    
    .devices .wrapper { 
        font-size: 16px;
    }
    
    .home-content {
        max-width: 600px;
    }

}


@media all and (max-width: 1039px) {
    
    .home-family {
        display: block;
        margin-top: 20px;
        width: 100%;
        padding-top: 66.666%;
        background: url(../images/home/family.jpg) no-repeat left top;
        background-size: 100% auto;
    }

}


@media all and (min-width: 1040px) {
    
    .devices .wrapper { 
        /* height: 560px; */
    }
    
    .hero-title,
    .hero-description {
        max-width: 360px;
    }
    
    .home-desktop {
        display: block;
        position: absolute;
        width: 600px;
        height: 502px;
        top: -390px;
        right: -60px;
        background-position: left top;
        background-repeat: no-repeat;
        /* -webkit-transform: perspective(1800) rotateY(-36deg); */
    
}
    
    .home-tablet {
        display: block;
        position: absolute; 
        width: 360px;
        height: 290px;
        top: -120px; 
        left: 0px;
        background: url(../images/home/tablet.png) no-repeat left top;
        background-size: 100% auto;
    }
    
    .home-phone {
        display: block;
        position: absolute;
        top: -50px;
        left: 270px;
        width: 110px;
        height: 242px;
        background: url(../images/home/phone.png) no-repeat left top;
        background-size: 100% auto;
    }
    
    .home-tagline {
        position: absolute;
        top: 75px;
        left: 450px;
        right: 0;
        font-size: 26px;
        font-style: italic;
        color: hsl(0, 0%, 50%);
    }
    
    .home-content {
        padding-top: 220px;
        max-width: none;
    
        text-align: center;
}
    
    .home-list li {
        display: inline-block;
    
        width: 44%;
        text-align: left;
        vertical-align: top;
        margin: 1em 2%;
    
        color: hsl(0, 0%, 50%);
}
    
    .home-list .title-xxx {
        font-weight: 400;
        font-size: 1.3em;
        color: hsl(0, 0%, 25%);
    }
    
}

@media (min-width: 1040px) and (-webkit-max-device-pixel-ratio: 1.49), (min-width: 1040px) and (max-resolution: 143dpi) {
    .home-desktop {
        background-image: url(../images/home/desktop@1x.png);
    }
}

@media (min-width: 1040px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1040px) and (min-resolution: 144dpi) {
    .home-desktop {
        background-image: url(../images/home/desktop.png);
        background-size: 100% auto;
    }
}

