/* These Styles only get used on the index page only */


/* Hero ------------------------------------------- */

.hero {
    background: hsl(0, 0%, 13%) url(../images/bg-dark.jpg) no-repeat center center;
    background-size: auto 100%;
    border-top: none;
    font-weight: 300;
}

.hero .wrapper {
    position: relative;
    color: #fff;
    text-shadow: none;
    /*line-height: 1.5;*/
}

.hero-title {
    margin-top: 0;
    /*font-size: 2em;*/
    /*line-height: 1.2;*/
}

.hero-description {
    margin-top: 0;
    /*font-size: 16px;*/
}


/* Product ------------------------------------------- */

.home-family,
.home-desktop,
.home-tablet,
.home-phone {
    display: none;
}

.home-content {
    position: relative;
    margin: 2em auto;
    max-width: 500px;
}

.home-tagline {
    font-weight: 300;
    /*font-size: 1.3em;*/
    /*line-height: 1.4;*/
    font-style: italic;
    color: hsl(0, 0%, 50%);
}

.home-list {
    list-style: none;
    padding: 0;
}

.home-list li {
    box-sizing: border-box;
    margin: 3em 0;
    color: hsl(0, 0%, 40%);
}

.home-list .title-xxx {
    /*font-weight: 400;*/
    /*font-size: 1.2em;*/
    margin-bottom: 1em;
    color: hsl(0, 0%, 25%);

}

/* list graphic */

.home-visual {
    position: absolute;
    /*margin-top: 1.3em;*/
    width: 40px;
    border-radius: 10px;
}

.home-list p {
    margin-left: 54px;
    /*font-size: 0.9em;*/
}


.home-content .button--action {
    display: block;
    margin: 2em auto 0 auto;
    font-size: 20px;
    line-height: 1;
    padding: 1em 1.2em;
    border-radius: 0.4em;
    width: 180px;
    text-align: center;
}



/* Responsive ----------------------------------------- */

@media all and (min-width: 700px) {

    .hero-title {
        /*font-size: 2.4em;*/
    }

    .devices .wrapper {
        /*font-size: 16px;*/
    }

    .home-tagline {
        /*font-size: 1.6em;*/
    }

    .home-content {
        max-width: 600px;
    }

    .home-visual {
        width: 80px;
    }

    .home-list li {
        min-height: 120px;
    }

    .home-list p {
        /*font-size: 1em;*/
        margin-left: 100px;
    }

}


@media all and (max-width: 1039px) {

    .home-family {
        display: block;
        margin-top: 20px;
        width: 100%;
        padding-top: 66.666%;
        background: url(../images/home/family.jpg) no-repeat left top;
        background-size: 100% auto;
    }

    .home-tagline {
        text-align: center;
        margin: 2em 0;
    }

}


@media all and (min-width: 1040px) {

    .devices .wrapper {
        /* height: 560px; */
    }

    .hero-title,
    .hero-description {
        max-width: 360px;
    }

    .home-desktop {
        display: block;
        position: absolute;
        width: 600px;
        height: 502px;
        top: -370px;
        right: -60px;
        background-position: left top;
        background-repeat: no-repeat;
        /* -webkit-transform: perspective(1800) rotateY(-36deg); */

}

    .home-tablet {
        display: block;
        position: absolute;
        width: 360px;
        height: 290px;
        top: -120px;
        left: 100px;
        background: url(../images/home/tablet.png) no-repeat left top;
        background-size: 100% auto;
    }

    .home-phone {
        display: block;
        position: absolute;
        top: -50px;
        left: 430px;
        width: 110px;
        height: 242px;
        background: url(../images/home/phone.png) no-repeat left top;
        background-size: 100% auto;
    }

    .home-tagline {
        position: absolute;
        top: 106px;
        left: 580px;
        right: 0;
        /*font-size: 24px;*/
    }

    .home-content {
        padding-top: 220px;
        max-width: none;
        text-align: center;
    }

    .home-list li {
        display: inline-block;
        width: 33.333%;
        padding-right: 2em;
        /*width: 48%;*/
        text-align: left;
        vertical-align: top;
        margin: 1em 0;
    }

    /*.home-list li:nth-child(odd) {
        margin-right: 2%;
    }

    .home-list li:nth-child(even) {
        margin-left: 2%;
    }*/

    .home-list .title-xxx {
        /*font-size: 1.3em;*/
    }

    .home-list p {
        /*font-size: .9em;*/
    }

}

@media (min-width: 1040px) and (-webkit-max-device-pixel-ratio: 1.49), (min-width: 1040px) and (max-resolution: 143dpi) {
    .home-desktop {
        background-image: url(../images/home/desktop@1x.png);
    }
}

@media (min-width: 1040px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1040px) and (min-resolution: 144dpi) {
    .home-desktop {
        background-image: url(../images/home/desktop.png);
        background-size: 100% auto;
    }
}

/*********************************
Blocks
*********************************/

.blocks {
    list-style: none;
    padding: 0;
    margin:  0;
}

.block {
    box-sizing: border-box;
    float: left;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* link */

.block a {
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    color: inherit;
    background-color: #FFF;
    /*background-image: url(../images/bg-dark.jpg);*/
    background-size: cover;
    transition: background .2s ease-in-out;
}

/* border */

.block:not(:last-child) a {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.block a:hover {
    background-color: rgba(0,0,0,.1);
}

/* content container */

.block-content {
    width: 100%;
    max-width: 20em;
    text-align: center;
    align-self: center;
}

@media screen and (min-width: 750px) {
    .block {
        width: 50%;
        height: 160px;
    }

    .block:nth-child(1) a,
    .block:nth-child(3) a {
        border-right: 1px solid rgba(0,0,0,.2);
    }
}

@media screen and (min-width: 1075px) {
    .block {
        width: 25%;
        height: 180px;
    }

    .block a {
        border-bottom: none !important;
    }

    .block:nth-child(2) a {
        border-right: 1px solid rgba(0,0,0,.2);
    }
}

/*********************************
Home
*********************************/

/* hero takes up available space */

.home .hero {
    min-height: 650px;
    flex: 1;
}

.home .block h2 { margin: 0; }



